.meanings {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: thin;
    height: 55vh;
    border: 10px solid rgb(105, 105, 105);
    border-radius: 10px;
    padding: 10px 20px;
    overflow-x: hidden;
}

.subTitle {
    font-size: 3vh;
}

.singleMeaningLight {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #282C34;
    color: white;
}
.singleMeaningDark {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: white;
    color: #282C34;
}

.singleMeaning hr {
    background-color: black;
}

@media (max-width: 900px) {
    .meanings {
        height: 53vh;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .subTitle {
        font-size: 2vh;
    }
}

.audio {
    background-color: white;
    margin: 10px 0;
}