.AppDarkMode {
    height: 100vh;
    background: #282C34;
    color: white;
    transition: all 0.3s linear;
}
.AppLightMode {
    height: 100vh;
    background: white;
    color: #282C34;
    transition: all 0.3s linear;
}

.Container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.themeSwitch {
    position: absolute;
    top: 0px;
    right: 15px;
    padding-top: 10px;
}

.visit-me-link {
    position: absolute;
    left: 0px;
    bottom: 40px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Spartan', sans-serif !important;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 1rem;
    text-transform: uppercase;
    transition: all .2s ease-in;
}
  
.visit-me-link:hover {
    padding-left: 30px;
}